In [1]:
import numpy as np
import scipy as sp
from scipy import stats
import pandas as pd
from random import shuffle

# Import time series data

In [2]:
import pandas as pd
df = pd.read_csv("yahoo_stock.csv")
df

,Date,High,Low,Open,Close,Volume,Adj Close
0,2015-11-23,2095.610107,2081.389893,2089.409912,2086.590088,3.587980e+09,2086.590088
1,2015-11-24,2094.120117,2070.290039,2084.419922,2089.139893,3.884930e+09,2089.139893
2,2015-11-25,2093.000000,2086.300049,2089.300049,2088.870117,2.852940e+09,2088.870117
3,2015-11-26,2093.000000,2086.300049,2089.300049,2088.870117,2.852940e+09,2088.870117
4,2015-11-27,2093.290039,2084.129883,2088.820068,2090.110107,1.466840e+09,2090.110107
...,...,...,...,...,...,...,...
1820,2020-11-16,3628.510010,3600.159912,3600.159912,3626.909912,5.281980e+09,3626.909912
1821,2020-11-17,3623.110107,3588.679932,3610.310059,3609.530029,4.799570e+09,3609.530029
1822,2020-11-18,3619.090088,3567.330078,3612.090088,3567.790039,5.274450e+09,3567.790039
1823,2020-11-19,3585.219971,3543.840088,3559.409912,3581.870117,4.347200e+09,3581.870117
1824,2020-11-20,3581.229980,3556.850098,3579.310059,3557.540039,2.236662e+09,3557.540039

#Create numpy array

In [4]:
value = df['Adj Close']
values = np.array(value)
sample = shuffle(value)

C:\ProgramData\Anaconda3\lib\random.py:362: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[i], x[j] = x[j], x[i]

In [6]:
sample = np.array(value)
sample = sample[0:300]

In [7]:
sample,values

(array([2926.45996094, 3465.38989258, 2682.62011719, 2881.39990234,
        2792.66992188, 2132.97998047, 1864.7800293 , 2052.32006836,
        3351.60009766, 2633.08007812, 3289.29003906, 2793.89990234,
        2695.94995117, 2873.34008789, 2943.0300293 , 2788.86010742,
        2716.26000977, 3545.5300293 , 3240.02001953, 3080.82006836,
        1880.05004883, 2718.37011719, 2047.63000488, 2409.38989258,
        2922.94995117, 2789.82006836, 1853.43994141, 2357.48999023,
        2743.79003906, 2384.19995117, 2351.15991211, 2168.47998047,
        2328.94995117, 2464.61010742, 3097.73999023, 2666.93994141,
        3271.12011719, 2803.68994141, 2170.06005859, 3295.4699707 ,
        2952.01000977, 2141.15991211, 3179.7199707 , 2263.68994141,
        2263.79003906, 2752.01000977, 2950.45996094, 2816.29003906,
        2549.33007812, 2256.95996094, 2907.06005859, 3253.05004883,
        2390.89990234, 2164.68994141, 2670.29003906, 3153.62988281,
        2561.26000977, 3117.86010742, 2717.07006836, 3000.92993164,
        2557.63989258, 2429.01000977, 2743.07006836, 2792.37988281,
        2213.35009766, 2051.60009766, 2569.12988281, 2884.42993164,
        2415.82006836, 2139.15991211, 2596.63989258, 3074.62011719,
        2052.32006836, 2914.        , 2734.62011719, 2663.67993164,
        2774.02001953, 1979.26000977, 1940.23999023, 2293.08007812,
        2736.27001953, 2775.60009766, 2713.83007812, 3023.93994141,
        2139.12011719, 2734.62011719, 3419.43994141, 2656.30004883,
        2161.73999023, 2367.34008789, 2640.87011719, 2423.40991211,
        2886.97998047, 2191.94995117, 2767.12988281, 2387.44995117,
        2433.13989258, 2986.19995117, 2470.30004883, 2978.70996094,
        2485.73999023, 2415.82006836, 2297.41992188, 2073.07006836,
        2064.11010742, 2836.73999023, 1895.57995605, 2050.62988281,
        2071.2199707 , 2929.80004883, 3337.75      , 2365.7199707 ,
        3380.15991211, 3298.45996094, 2697.79003906, 2274.63989258,
        3036.12988281, 2139.17993164, 2186.15991211, 2088.89990234,
        2596.26000977, 3112.76000977, 2596.26000977, 2656.87011719,
        2673.61010742, 2836.73999023, 2670.13989258, 2779.65991211,
        2874.56005859, 2907.40991211, 2262.5300293 , 2078.36010742,
        3145.90991211, 2703.95996094, 2995.82006836, 2477.57006836,
        2043.93994141, 3349.15991211, 3269.95996094, 3348.41992188,
        3002.10009766, 3426.95996094, 2080.40991211, 2578.85009766,
        3370.29003906, 2021.93994141, 2706.5300293 , 2438.9699707 ,
        2423.40991211, 2430.01000977, 2619.55004883, 1893.35998535,
        2263.79003906, 2723.06005859, 3337.75      , 2131.52001953,
        2394.02001953, 2564.97998047, 3133.63989258, 3557.54003906,
        3130.01000977, 3374.85009766, 3443.43994141, 2997.94995117,
        2191.94995117, 3020.9699707 , 2541.4699707 , 2179.97998047,
        2995.11010742, 3039.41992188, 2531.93994141, 2633.08007812,
        3232.38989258, 2736.27001953, 2648.93994141, 2179.97998047,
        2412.90991211, 2923.72998047, 2664.76000977, 3193.92993164,
        3297.59008789, 2488.83007812, 2683.34008789, 2045.17004395,
        3207.17993164, 2892.73999023, 2344.02001953, 2833.2800293 ,
        2791.52001953, 2381.72998047, 2993.07006836, 2834.39990234,
        3265.35009766, 2853.5300293 , 3500.31005859, 3224.01000977,
        2183.87011719, 3276.23999023, 2643.85009766, 1926.81994629,
        2182.87011719, 2907.40991211, 2775.62988281, 2061.7199707 ,
        2677.84008789, 2786.57006836, 2976.61010742, 2152.42993164,
        2470.5       , 2096.07006836, 2638.69995117, 2804.48999023,
        2699.62988281, 2632.89990234, 2249.91992188, 2080.72998047,
        2263.79003906, 2307.87011719, 2425.17993164, 2917.75      ,
        2415.82006836, 2846.06005859, 2575.26000977, 2043.41003418,
        2945.83007812, 2304.91992188, 2126.14990234, 2169.17993164,
        2762.12988281, 2871.67993164, 2749.76000977, 2675.81005859,
        3319.4699707 , 2664.76000977, 2673.61010742, 2839.12988281,
        2706.5300293 , 2383.12011719, 3145.90991211, 2083.25      ,
        1880.05004883, 2772.35009766, 2876.32006836, 2917.37988281,
        2467.41992188, 2789.64990234, 2670.13989258, 2664.76000977,
        2924.42993164, 3321.75      , 2507.04003906, 2887.93994141,
        3116.38989258, 2296.67993164, 2681.65991211, 2091.69995117,
        2954.2199707 , 2259.5300293 , 2150.48999023, 2381.37988281,
        2682.62988281, 2065.30004883, 2578.85009766, 2447.33007812,
        2728.37011719, 2905.0300293 , 2995.98999023, 2102.94995117,
        2163.79003906, 2396.91992188, 2693.12988281, 2337.58007812,
        2847.11010742, 3509.43994141, 2294.66992188, 2820.        ,
        2351.15991211, 2582.61010742, 2161.19995117, 2415.82006836,
        2584.84008789, 2803.27001953, 2439.07006836, 2588.26000977,
        1938.68005371, 2647.58007812, 2971.61010742, 2105.26000977,
        2575.20996094, 2720.12988281, 2546.15991211, 2701.58007812,
        2001.76000977, 2180.88989258, 2850.12988281, 2089.13989258,
        2779.76000977, 3453.48999023, 2381.72998047, 3191.44995117]),
 array([2086.59008789, 2089.13989258, 2088.87011719, ..., 3567.79003906,
        3581.87011719, 3557.54003906]))

In [8]:
# Create random samples

norm_A = values
norm_B = sample

In [9]:
norm_A

array([2086.59008789, 2089.13989258, 2088.87011719, ..., 3567.79003906,
       3581.87011719, 3557.54003906])

# Create Python Script for K-S Test

In [10]:
def ks_2samp(sample1, sample2):
    # Gets all observations
    observations = np.concatenate((sample1, sample2))
    observations.sort()
    # Sorts the samples
    sample1.sort()
    sample2.sort()
    # Evaluates the KS statistic
    D_ks = [] # KS Statistic list
    for x in observations:
        cdf_sample1 = cdf(sample = sample1, x  = x)
        cdf_sample2 = cdf(sample = sample2, x  = x)
        D_ks.append(abs(cdf_sample1 - cdf_sample2))
    ks_stat = max(D_ks)
    # Calculates the P-Value based on the two-sided test
    # The P-Value comes from the KS Distribution Survival Function (SF = 1-CDF)
    m, n = float(len(sample1)), float(len(sample2))
    en = m * n / (m + n)
    p_value = stats.kstwo.sf(ks_stat, np.round(en))
    return {"ks_stat": ks_stat, "p_value" : p_value}

In [11]:
def cdf(sample, x, sort = False):
    # Sorts the sample, if unsorted
    if sort:
        sample.sort()
    # Counts how many observations are below x
    cdf = sum(sample <= x)
    # Divides by the total number of observations
    cdf = cdf / len(sample)
    return cdf

In [12]:
sets = [norm_A, norm_B, ]
names = ['norm_A', 'norm_B']
ks_scores = {}
for _ in range(len(names)):
    name1 = names.pop(0)
    sample1 = sets.pop(0)
    for name2, sample2 in zip(names, sets):
        key1 = name1 + "_" +  name2
        key2 = name2 + "_" +  name1
        ks = ks_2samp(sample1, sample2)
        ks_scores[key1] = ks
        ks_scores[key2] = ks
# Prints the results
print(f"norm_A vs norm_B: ks = {ks_scores['norm_A_norm_B']['ks_stat']:.4f} (p-value = {ks_scores['norm_A_norm_B']['p_value']:.3e}, are equal = {ks_scores['norm_A_norm_B']['p_value'] > 0.05})")

norm_A vs norm_B: ks = 0.0452 (p-value = 6.517e-01, are equal = True)